Lenguaje De Marcas/XML Clasificacion/clasificaciones.dtd

<!--LOS IDS SON DE TIPO INTEGER YA QUE EN LA BASE DE DATOS SON AUTOINCREMENTALES-->

<!ELEMENT CLASIFICACION (EQUIPO+,FECHA_EXPIRACION)>
<!ELEMENT EQUIPO (NOMBRE, VICTORIAS, DERROTAS)>
<!ELEMENT FECHA_EXPIRACION (#PCDATA) >
<!ATTLIST EQUIPO posicion CDATA #REQUIRED>
<!ELEMENT NOMBRE (#PCDATA)>
<!ELEMENT VICTORIAS (#PCDATA)>
<!ELEMENT DERROTAS (#PCDATA)>