Lenguaje De Marcas/XML Clasificacion/clasificaciones.dtd

<!--LOS IDS SON DE TIPO INTEGER YA QUE EN LA BASE DE DATOS SON AUTOINCREMENTALES-->

<!ELEMENT clasificacion (equipo+,fecha_expiracion)>
<!ELEMENT equipo (nombre, victorias, derrotas)>
<!ELEMENT fecha_expiracion (#PCDATA) >
<!ATTLIST equipo posicion CDATA #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT victorias (#PCDATA)>
<!ELEMENT derrotas (#PCDATA)>